<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/style.css" rel="stylesheet" />
    <title>Commander Helper</title>
    <script src="./index.js"></script>
  </head>
  <body>
    <form action="/" method="POST">
      <div id="input-section">
        <input id="search-bar" type="search" />
        <input id="add" onclick="addItem()" type="button" value="Add" />
        <input type="submit" value="Submit" />
      </div>
      <ul id="listOfNames"></ul>
    </form>
  </body>
</html>
