<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/style.css" rel="stylesheet" />
    <title>SnakeBird Reverse Commander Search</title>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    <div id="logo-container">
      <img src="../static/images/snakebird-03.png" alt="Logo" />
    </div>
    <div id="right-side-container"></div>
    <div id="main-content">
      <div id="image-container">
        <form action="/" method="POST">
          <div id="input-section">
            <div id="search-add-container">
              <input id="search-bar" type="search" />
              <input
                id="add"
                onclick="addItem()"
                type="button"
                value="Add to List"
              />
            </div>
            <div id="submit-container">
              <input
                id="submit"
                onclick="outputWinners(cards)"
                type="button"
                value="Calculate"
              />
            </div>
            <!-- <input
            id="print-commanders"
            onclick="printCommanders()"
            type="button"
            value="Print Commanders"
          /> -->
          </div>
          <div id="error-message"></div>
        </form>
      </div>
    </div>
  </body>
</html>
